.compLevel2 {
opacity: 0.89 !important;
}

.compLevel3 {
opacity: 0.78 !important;
}

.compLevel4 {
opacity: 0.67 !important;
}

.compLevel5 {
opacity: 0.56 !important;
}

.compLevel6 {
opacity: 0.45 !important;
}

.compLevel7 {
opacity: 0.34 !important;
}

.compLevel8 {
opacity: 0.23 !important;
}

.compLevel9 {
opacity: 0.12 !important;
}

